[package]
name = "rust-bittorrent-client"
version = "0.1.0"
authors = ["Luke Olney <LukeOlney2016@u.northwestern.edu>"]

[dependencies]
chomp = "0.3.1"
nom = "^1.2.4"
byteorder = "^1.1.0"
priority-queue = "0.4.5"
bit-vec = "0.4.4"
log = "0.3.8"
sha1 = "0.2.0"
rand = "0.4"

[[bin]]
name = "rust-bittorrent-client"
path = "src/main.rs"
